@import '_buttons';
@import '_form';
@import '_typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    color: $brand-color;

    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

/* Custom */
.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: #333;

            &.active {
                color: brand-color !important;
            }
        }

        &.hover {
            color: brand-color;
        }
    }
}

// Icons
.edusity-logo {
    width: 148px;
    height: 39px;
    display: inline-block;
    background-image: url("edusity-logo.svg");
    background-size: cover;
}

.ent-logo {
    width: 210px;
    height: 80px;
    display: inline-block;
    background-image: url("edusity-enterprise.svg");
    background-size: cover;
}

//.expert {
//    width: 80px;
//    height: 89px;
//    background-image: url("expert.svg");
//    background-size: cover;
//    display: inline-block;
//}

.navbar-toggler-icon {
    background-image: url(./black-icon.svg) !important;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.sub-icon {
    display: inline-block;
    height: 80px;
    margin-bottom: 2rem;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 10px;
        left: 5px;
        right: 0;
        bottom: -9px;
        border: 10px solid $brand-color-secondary;
    }

    i {
        position: relative;
        z-index: 2;
    }
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

    padding: 0 1rem;
}

.navbar, .navbar-default {
    background-color: white;
}

.navbar {
    .courses-btn {
        .hover-menu {
            border: 1px solid rgba(black, 0.4);
            background: white;
            width: 20rem;
            border-radius: 0.25rem;
            //box-shadow: 0 0 10px 5px rgba(black, 0.5);
            display: none;
            left: 0;
            top: 2.6rem;

            ul {
                text-align: left;

                li {
                    list-style: none;
                }
            }
        }

        &:hover {
            .hover-menu {
                display: block;
            }
        }
    }
}

.bg-primary {
    //background: transparent !important;
}

.navbar {
    background: white !important;
}

.center {
    text-align: center;
}

.col {
    &.right {
    }
}

/* Hero Banner Styles */
.heroBanner {
    background-image: url("./heroBanner.png");
    //background-image: url("./heroBanner2.png");
    background-size: cover;
    //background-position: center center;
    height: 38rem;
    position: relative;
    z-index: 0;
    //margin-top: 74px;

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(white, 0.5);
        display: inline-block;
    }

    .right-banner {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 4rem;
        width: 300px /*300px*/;
        height: 535px /*450px*/;
        background-image: url("./smiling-lady.png");
        background-size: cover;
        background-position: center top;

        @extend .animate-from-right-home;
    }
}

.teacherBanner {
    background-image: url("./uniBg.jpg");
    background-size: cover;
    background-position: center center;
    height: 43rem;
    position: relative;
    z-index: 0;
    margin-top: 3.6rem;

    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 141px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./bottom-swag.svg");
        background-size: cover;
        background-position: center center;
    }

    .inner-wrapper {
        //display: flex;
        //flex-direction: row;
        //justify-content: space-between;
        //min-height: 5rem;
        //margin: 0 2rem;
    }

    .teacher {
        width: 450px;
        height: 491px;
        position: absolute;

        background-image: url("pretty-face.png");
        background-size: cover;

        z-index: 5;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 0%);
    }

    .cta-btn {
        position: absolute;
        z-index: 6;
        width: 90%;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, 0%);

        a {
            background-color: rgba($brand-color, 0.9);
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.5rem;
            border-radius: 10rem;
            color: white;
            padding: 1rem 3.6rem;

            &:hover {
                text-decoration: none;
                background-color: rgba($brand-color-secondary, 1);
            }
        }
    }

    .teacher-title {
        position: relative;
        text-align: center;
        width: 60%;
        top: 8rem;
        margin: 0 auto;

        h2 {
            font-size: 3.6rem;
            line-height: 4rem;
            color: white;
            font-weight: 800;
            text-shadow: 0 0 10px rgba(black, 0.9);
        }
    }
}

.animate-from-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 250ms;
    animation-name: animatebottom;
    animation-duration: 250ms;
}

.animate-from-right {
    position: absolute;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 250ms;
    animation-name: animateright;
    animation-duration: 250ms;
}

.animate-from-right-home {
    position: absolute;
    -webkit-animation-name: animaterighthome;
    -webkit-animation-duration: 150ms;
    animation-name: animaterighthome;
    animation-duration: 150ms;
}

.animate-from-left {
    position: absolute;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 150ms;
    animation-name: animateleft;
    animation-duration: 150ms;
}

.text-wrap {
    position: absolute;
    z-index: 5;
    width: 40%;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);

    .sub-title {
        font-size: 2rem;
        font-style: italic;
        color: #BBB;
    }
}

.box-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #777;

    .box {
        width: 24%;
        background: white;
        border-radius: 4px;
        text-align: left;
        padding: 0.6rem 1rem;
    }

    .button {
        max-width: 24%;
    }
}

#contact-form {
    width: 100%;

    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            align-items: center;
        }

        .input-wrapper {
            width: 100%;
            position: relative;
        }

        .button-wrapper {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.HomePage {
    //padding-top: 4.55rem;
    min-height: 60rem;

    .right {
        padding: 0;
    }

    .row {
        margin: 0;
    }
}

.plus {
    font-size: 10rem;
    font-weight: 800;
    color: $brand-color;
}

.checkmark,.check {
    display: inline-block;
    background-size: cover;
}

.checkmark {
    background: url("checkmark.svg");
    width: 21px;
    height: 14px;
}

.check {
    background: url("check.svg");
    width: 13px;
    height: 13px;
}

.block {
    display: block;
}

.PricingPage {
    //margin-top: 4.55rem;
    margin-top: 10rem;

    .title-wrapper {
        margin-bottom: 7rem;
        text-align: center;

        .inner-wrapper {
            width: 40%;
            margin: 0 auto;
        }

        p {
            margin-top: 2rem;
            color: #888;
        }
    }

    .coming-soon {
        text-align: center;
        margin-bottom: 6rem;
        position: relative;
        z-index: 5;

        .inner-wrapper {
            width: 25%;
            margin: 0 auto;
        }

        .cs-title {
            text-transform: uppercase;
            font-weight: 800;
            margin: 1rem 0 0 0;
            color: #EEE;
        }

        .options-wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 5rem;

            span {
                padding: 0.4rem 1rem;
                width: 50%;
                border-radius: 5rem 0 0 5rem;
                font-size: 80%;
                background-color: #EEE;
                cursor: pointer;
                font-weight: 400;
                text-transform: lowercase;

                &:hover {
                    background-color: darken(#EEE, 20%);
                }

                &:last-of-type {
                    color: white;
                    border-radius: 0 5rem 5rem 0;
                    background-color: rgba($brand-color, 1);

                    &:hover {
                        background-color: darken($brand-color, 20%);
                    }
                }
            }
        }
    }

    .pricing-wrapper {
        position: relative;
        z-index: 2;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -20%;
            left: 0;
            right: 0;
            width: 100%;
            height: 50rem;

            background-image: url("cityBg.png");
            background-size: cover;
            background-position: top center;
        }

        .pricing-inner-wrapper {
            width: 80%;
            margin: 2rem auto;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            backdrop-filter: blur(3px);
            background-color: rgba(white, 0.3);
        }

        .pricing-points-wrapper {
            h3 {
                font-weight: 200;
            }

            .inner-wrapper {
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }

            .pricing-list {
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                list-style: none;
                font-size: 105%;

                li {
                    display: inline-block;
                    margin: 0.5rem 3rem;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0.25rem;
                        left: -1.75rem;
                        //width: ;
                        //height: ;
                        @extend .checkmark;
                    }
                }
            }
        }

        .pricing-col {
            font-weight: 100;
            width: 23%;
            text-align: center;
            border-right: none;
            align-self: start;
            //border: 1px solid red;

            .full-too {
                position: absolute;
                top: -1.65rem;
                left: -1px;
                right: -1px;
                background-color: #F601C2;
                color: white;
                font-weight: 500;
                padding: 0.3rem 1rem;
                font-size: 70%;

                &.next {
                    background-color: $brand-color;
                }
            }

            &:first-of-type {
                //text-align: right;
                //width: 26%;
                //background: #F7F7F7;

                .pricing-row {
                    border-right: none;
                }
            }

            &:last-of-type {
                border-right: 1px solid $pricing-table-border;
                width: 31%;
            }
        }

        .pricing-row {
            padding: 1rem;
            border: 1px solid $pricing-table-border;
            font-size: 85%;
            border-right: none;
            border-bottom: none;
            min-height: 3.6rem;

            // Truncates the extra long text
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                //display: block;
            }

            .highlight {
                line-height: 0.75rem;
                color: $brand-color;
                font-weight: 400;
                display: block;
            }

            .per-year {
                margin-top: -0.5rem;
                margin-bottom: 0.5rem;
            }

            .finePrnt {
                font-size: 80%;
                color: rgba(black, 0.75);

                span {
                    display: block;
                    line-height: 1.5em;
                }
            }

            &.greenBg {
                background-color: rgba(#F601C2, 0.08);
            }

            &.tallBoy {
                height: 10rem;
            }

            &:last-of-type {
                border-bottom: 1px solid $pricing-table-border;
            }
        }

        .header {
            text-transform: uppercase;
            //margin: 1rem 0;
            font-size: 100%;
            position: relative;
            overflow: visible;

            &.pricing-row {
                font-weight: 800;
                color: $brand-color;
            }
        }

        .pricing-title {
            font-weight: 100;
            text-transform: uppercase;
            display: table-cell;
            vertical-align: middle;
            padding: 1.65rem 0;
            font-size: 90%;
        }

        .pricing-desc {
            font-size: 3rem;
            font-weight: 800;
            letter-spacing: -1px;
            position: relative;
            color: darken($brand-color, 10%);
            height: 10rem;
            //-webkit-text-stroke-width: 1px;
            //-webkit-text-stroke-color: $brand-color;

            &:before {
                content: "$";
                position: absolute;
                top: 0.5rem;
                left: -15%;
                font-size: 50%;
                color: #333;
                font-weight: 300;
            }
        }
    }
}

.EnterprisePage {
    margin-top: 3.6rem;

    .EnterpriseBanner {
        background-image: url("./natureBg.jpg");
        background-size: cover;
        position: relative;
        //background: white;
        height: 50rem;
        overflow: hidden;

        .ent-logo-wrapper {
            margin-bottom: 1rem;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            backdrop-filter: blur(8px);
            background: rgba(white, 0.15);
        }

        h1 {
            font-size: 3rem;
            letter-spacing: -1px;
            font-weight: 700;
            color: white;
            text-shadow: 0 2px 2px rgba(black, 1);
        }

        .inner-wrapper {
            position: absolute;
            z-index: 3;
            top: 25%;
            left: 10%;
            width: 45%;
        }

        .image-wrapper {
            position: absolute;
            z-index: 2;
            width: 55%;
            height: 900px;
            right: 0;
            top: 13%;
            bottom: -30%;

            background-image: url("screen.png");
            background-size: cover;

            filter: drop-shadow(0 5px 25px rgba($brand-color-secondary, .4))
        }
    }
}

.teacherPage {
    //margin: 0;
}

.enterpriseBenefits {
    .inner-wrapper {
        //width: 90%;
        margin: 0 auto;
    }

    .benefits-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        div {
            display: flex;
            padding: 0 3rem;
            align-items: center;
            min-height: 28rem;
            position: relative;
            width: 50%;
        }
    }

    .product-img {
        position: relative;

        &:after {
            content: "";
            top: 2rem;
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
            border: 10px solid rgba($brand-color-secondary, 0.3);
            position: absolute;
        }
    }

    .title-holder {
        width: 50%;
        margin: 7rem auto 4rem auto;
        text-align: center;
    }

    .ben-title {
        font-size: 1.6rem;
        line-height: 3.5rem;
        font-weight: 500;
    }

    .ben-description {
        font-size: 1.15rem;
    }

    .ben-white-label, .ben-interactive-wb, .ben-live-interactive {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .ben-white-label {
        background-image: url("ben-white-label.jpg");
    }

    .ben-interactive-wb {
        background-image: url("ben-interactive-wb.jpg");
    }

    .ben-live-interactive {
        background-image: url("ben-live-interactive.jpg");
    }
}

.teacherBenefits {
    background-color: white;
    border-top: 1px solid rgba(black, 0.1);
    padding: 5rem 0;
    min-height: 30rem;

    background-image: url("instructorBg.jpg");
    background-size: cover;
    background-position: center;

    .teacher-title {
        width: 60%;
        text-align: center;
        margin: 0 auto 3rem auto;

        h2 {
            //font-weight: 700;
            //letter-spacing: -1px;
        }
    }

    .tiles-wrapper {
        width: 80%;
        position: relative;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .tile-col {
            width: 31%;
            height: 200px;
            border: 1px solid rgba(black, 0.08);
            background: rgba(white, 0.6);
            padding: 1rem;
            text-align: center;
            margin-bottom: 2.5rem;

            //backdrop-filter: blur(3px);
            //-webkit-backdrop-filter: blur(3px);

            &:nth-of-type(5), &:nth-of-type(6) {
                margin-bottom: 0;
            }
        }

        .col-title {
            font-size: 120%;
            color: $brand-color;
            font-weight: 600;
            margin-bottom: 0.75rem;

            .new {
                position: relative;
                top: -0.2rem;
                color: white;
                margin-left: 0.3rem;
                background: $brand-color;
                padding: 0.25rem 0.5rem 0.15rem 0.5rem;
                font-size: 50%;
                text-transform: uppercase;
            }
        }
    }
}

.teacherFeature {
    height: 30rem;
    background-image: url("teacherFeature.png");
    background-size: cover;
    background-repeat: no-repeat;

    .inner-wrapper {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 25rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left, .right {
            text-align: center;
        }

        .left {
            width: 60%;
        }

        .right {
            width: 40%;

            img {
                width: 50%;
            }
        }
    }

    h6 {
        font-size: 75%;
        letter-spacing: 1px;
        line-height: 0.25rem;
        text-transform: uppercase;

        span {
            &:nth-of-type(2) {
                margin-left: 0.25rem;
                font-weight: 900;
                color: #888;
            }
            &:last-of-type {
                margin-left: 0.25rem;
                font-size: 80%;
                font-weight: 100;
            }
        }
    }

    .title-subheader {
        font-size: 2.5rem;
        line-height: 2.6rem;
    }
}

.flowerDiag {
    height: 50rem;
}

.whiteLabel {
    //height: 40rem;
    //text-align: center;
    //background-color: pink;
    //background: url("white-label.svg") no-repeat center;

    .inner-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem 0;
        background: #E8E8E8;

        div {
            padding: 0 2rem;

            &:first-of-type {
                width: 30%;
            }

            &:last-of-type {
                width: 70%;
            }
        }
    }
}

.globalReach {
    min-height: 62rem;
    background-color: rgba(blueviolet, 0.1);
    background-image: url("globalReachBg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden; // Experimenatal

    .inner-wrapper {
        width: 80%;
        margin: 0 auto;
        position: relative;

        h3 {
            //font-family: $primary-font;
            font-size: 200%;
            font-weight: 200;
            letter-spacing: -1px;

            span {
                position: relative;
                margin: 0 0.5rem;

                &:after {
                    content: "";
                    position: absolute;
                    left: -0.5rem;
                    right: -0.5rem;
                    top: calc(50% - 1px);
                    width: auto;
                    height: 5px;
                    background-color: $brand-color;
                    display: block;
                    transform: rotate(-3deg);
                }
            }
        }

        .screenBack {
            width: 100%;
            //height: 50vh;
            position: relative;
            bottom: -20rem;
            //border: 1px solid red;

            .title-wrapper {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}

.actualScreen {
    height: 35rem;
    //border-top: 20px solid #333;
    //border-left: 20px solid #333;
    //border-right: 20px solid #333;
    //border-radius: 2rem;

    //background-image: url("dashboard.png");
    //background-size: cover;

    img {
        width: 100%;
    }
}

.whoIsUsingUs {
    //min-height: 3rem;
    //background: rgba(white, 0.5);
    //border-top: 1px solid rgba(black, 0.2);
    //border-bottom: 1px solid rgba(black, 0.2);

    //background-image: url("./pressBack.svg");
    //background-size: cover;
    //background-position: center center;

    .inner-wrapper {
        width: 80%;
        margin: 5rem auto 2rem auto;

        ul {
            list-style: none;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            li {
                width: calc((100% / 5) - 5rem);
                padding: 1rem 0;
                text-align: center;
                cursor: pointer;
            }
        }

        span {
            width: 100%;

            img {
                width: 100%;
                filter: grayscale(70%);
            }

            &:hover {
                img {
                    filter: grayscale(0%);
                }
            }
        }
    }

    .title {
        font-size: 130%;
        @extend .animate-from-bottom;
    }
}

.LearningBeyond {
    padding: 7.5rem 0;
    min-height: 40rem;
    background: lighten($brand-color, 40%) url("./dragBg.svg");
    background-repeat: no-repeat;
    background-position: center right;

    .title {
        font-size: 130%;
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 1rem;
    }

    .sub-title {
        font-size: 120%;
        font-weight: 500;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 100%;
        display: inline-block;
        min-height: 48px;

        @include truncate(1.5rem, 5);
    }

    .inner-wrapper {
        width: 80%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .image-container {
            width: 50%;
            text-align: right;

            img {
                width: 100%;
            }
        }

        .inner-half {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                padding: 0 1.5rem 1.5rem 0;
            }
        }
    }
}

.CourseList {
    border-top: 1px solid $pricing-table-border;
    padding: 3rem 0;

    .inner-wrapper {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    .header-wrapper {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    h5 {
        span {
            margin-right: 0.5rem;

            a {
                color: $brand-color;
                text-decoration: none;
                border-bottom: 1px solid $brand-color;
                text-transform: lowercase;
            }
        }
    }
}

// Tabs
.tabs {
    min-height: 30rem;

    ol {
        list-style: none;
        font-size: 80%;
        font-weight: 700;
        border-bottom: 1px solid $tabs-border;

        li {
            display: inline-block;
            cursor: pointer;
            padding: 0.5rem 1rem;
            //border-bottom: 1px solid purple;
            text-transform: uppercase;
            color: #555;

            &:hover {
                color: inherit;
            }

            &:first-of-type {
                //padding-left: 0;
            }

            &.tab-list-active {
                color: $brand-color;
            }
        }
    }

    .tab-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1.5rem 0;
        overflow-y: hidden;
    }

    .course-tile-alt {
        background-color: white;
        margin-right: 1rem;
        width: calc(23% - 10px);
        min-width: 270px;
        max-height: 430px;
        //overflow: hidden;
        position: relative;
        flex: 1 1 100px;
        border: 1px solid rgba(black, 0.13);
        cursor: pointer;

        .more-info-wrapper {
            position: absolute;
            z-index: 3;
            padding: 1.5rem;
            width: 30rem;
            background: white;
            border: 1px solid rgba(black, 0.15);
            left: 106%;
            top: 0/*-1rem*/;
            bottom: 0/*-1rem*/;
            box-shadow: 0 0 5px rgba(black, 0.15);
            display: none;
        }

        &:hover {
            .more-info-wrapper {
                display: block;
            }
        }

        .rating {
            margin-top: 0.3rem;

            .star-rating {
                span {
                    &.full-star, &.half-star {
                        width: 20px;
                        height: 20px;
                    }
                }

                .full-star, .half-star {
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .full-star {
                    background-image: url("star-theme.svg");
                }
                .half-star {
                    background-image: url("star-theme-half.svg");
                }
            }
        }

        .image-wrapper {
            height: 200px;
            overflow: hidden;
            position: relative;
            margin-bottom: 1rem;

            .category {
                position: absolute;
                text-transform: uppercase;
                font-size: 80%;
                font-weight: 600;
                bottom: 0;
                padding: 0.25rem 1rem;
                background: rgba(black, 0.75);
                color: white;
            }
        }

        .price-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span {

                &:first-of-type {
                    font-size: 80%;
                    font-weight: 400;
                    color: #999;
                    text-transform: uppercase;
                    vertical-align: super;
                }

                &:last-of-type {
                    font-size: 130%;
                    font-weight: 900;
                }
            }
        }

        .content-wrapper {
            margin: 0 0.75rem;
        }

        .tile-header {
            font-size: 125%;
            line-height: 1.5rem;
            margin-bottom: 1rem;
            height: 4.5rem;
        }

        .tile-header-overlay {
            font-size: 140%;
            line-height: 1.5rem;
            margin-bottom: 1rem;
            height: auto;
        }

        .finePrnt {
            font-size: 75%;
            font-weight: 400;
            text-transform: uppercase;
        }

        .auth-title {
            text-transform: uppercase;
            font-weight: 800;
            color: #555;
            font-size: 80%;
            line-height: 0.5rem;
        }
    }

    .course-tile {
        background-color: #E8E8E8;
        margin-right: 10px;
        width: calc(23% - 10px);
        min-width: 250px;
        max-height: 400px;
        overflow: hidden;
        position: relative;
        flex: 1 1 100px;

        &:first-of-type {
            //background-image: url("cooking.jpg");
            //background-size: cover;
        }

        &:last-of-type {
            margin-right: 0;
        }

        .image-wrapper {
            img {
                //width: 100%;
                //height: auto;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 40%;
                bottom: 0;
                //background-color: rgba(black, 0.5);
                background: linear-gradient(0deg, rgba($brand-color, 1) 5%,
                        rgba($brand-color, 0.5) 50%,
                        rgba($brand-color, 0.3) 80%,
                        rgba($brand-color, 0.02) 100%);
            }
        }

        .content-wrapper {
            position: absolute;
            left: 1rem;
            right: 1rem;
            bottom: 0;
            color: white;

            .tile-header {
                font-size: 140%;
                line-height: 1.7rem;
                font-weight: 500;
                margin-bottom: 0.5rem;
                text-shadow: 0 0 4px rgba(black, 0.7);

                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .author {
                font-size: 85%;
                font-weight: 300;
                margin-bottom: 0.3rem;
            }

            .category {
                font-size: 75%;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0.2rem 1rem 0.15rem 0.4rem;
                border-left: 5px solid #EEE;
                background: black;
                width: auto;
                display: inline-block;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.star-rating {
    span {
        margin-right: 0.2rem;

        &.full-star, &.half-star {
            width: 15px;
            height: 15px;
            display: inline-block;
            background-size: cover;
        }

        &.full-star {
            background-image: url("star.svg");
        }

        &.half-star {
            background-image: url("star-half.svg");
        }
    }
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
}

.contributors {
    //margin-left: 0.25rem;
    font-size: 75%;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.SearchPage, .BlogPage, .LoginPage {
    padding-top: 4rem;

    h1 {
        margin-top: 3rem;
    }
}

.LoginPage {
    .signupScreen {
        height: 100vh;
        margin-top: -4rem;
        background-image: url("registrationBg.jpg");
        background-size: cover;

        h5 {
            margin-bottom: 1rem;
        }

        .register-as {
            background-color: rgba($brand-color, 0.05);
            padding: 0.75rem 1rem 0.5rem 1rem;
            margin-bottom: 2rem;

            span {
                margin-right: 1rem;

                &:first-of-type {
                    //padding-bottom: 1rem;
                }
            }

            .reg-me {
                display: block;
                margin-bottom: 0.15rem;
            }
        }

        .inner-wrapper {
            position: absolute;
            z-index: 1;
            width: 70%;
            background-color: white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            flex-direction: row;

            -webkit-box-shadow: 0 0 20px 10px rgba(black, 0.15);
            box-shadow: 0 0 20px 13px rgba(black, 0.15);

            .left-section, .right-section {
                padding: 2rem 3rem;
            }

            .left-section {
                width: 40%;
                background-color: $brand-color-dark;
                color: white;
            }

            .right-section {
                width: 60%;

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    color: #666;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid rgba($brand-color, 0.3);
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $brand-color;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }

        .right-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        input {
            border: none;
            border-bottom: 1px solid #AAA;
            font-family: $primary-font;
            font-weight: 200;
            padding-bottom: 0.25rem;

            &.full {
                width: 100%;
            }

            &:focus {
                border-bottom-color: $brand-color;
            }
        }

        .finePrnt {
            font-size: 90%;
        }
    }
}

.welcome {
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 2.1rem;
    line-height: 2rem;
}

.introduction {

}

.cookie {
    display: block;
}

.navbar-dark {

}

.navbar-brand {
    color: #333;
    position: relative;
    top: 0.5rem;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: $brand-color;
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            &:focus, &:hover {
                color: #333;
            }
        }
        .show > .nav-link {
            color: $brand-color;
        }
    }
}

.navbar-brand {
    //color: $brand-color !important;
    //font-size: 200%;
    //letter-spacing: -1px;
    //font-weight: 700;
}

.dropdown {
    &.nav-item {
        margin-right: 2.5rem;
    }
}

.dropdown-toggle {
    &:after {
        background-image: url(./down-arrow.svg);
        background-size: cover;
        width: 10px;
        height: 5px;
        border: none;
        margin-left: 0.3em;
        vertical-align: 0.1em;
        display: inline-block;
    }
}

.dropdown-item {
    font-weight: inherit;
}

.scrolled {
    nav {
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;

        &.navbar {
            background-color: white !important;
            box-shadow: 0 0 25px rgba(black, 0.1);
            animation: pulse 250ms;
        }
    }

    a {
        &.navbar-brand {
            -webkit-transition: color 250ms;
            transition: color 250ms;
        }
    }

}

.showAd {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(black, 0.5);
    z-index: 999;
    overflow: hidden;
}

.hide {
    display: none;
}

.advert {
    border: 1px solid rgba(black, 0.3);
    padding: 1rem;
    background: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

// Overlays
.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.8);

    .overlay-inner {
        position: absolute;
        width: 60%;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        text-align: center;
        border-radius: 10px;

        h1 {
            text-transform: uppercase;
        }
    }
}

// Footer
footer {
    padding: 4rem 3rem 1rem 3rem;
    ///background: #F5EBFC;
    //border-top: 1px solid rgba(black, 0.08);
    font-size: 95%;

    .inner-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer-col {
            width: calc(100% / 4);

            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                width: 15%;
            }

            ul {

                li {
                    a {
                        color: darken($brand-color, 50%);

                        &:hover {
                            color: $brand-color;
                            text-decoration: none;
                        }
                    }
                }
            }

            &:last-of-type {
                width: 40%;

                ul {
                    li {
                        display: inline-block;
                        margin-right: 0.75rem;

                        a {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .footer-subtitle {
            font-size: 140%;
            letter-spacing: -1px;

            &:last-of-type {
                margin-top: 1rem;
            }
        }
    }

    // Footer Icons
    ul {
        &.social-icons {
            li {
                &.twitter-icon, &.facebook-icon, &.instagram-icon, &.linkedin-icon {
                    a {
                        background-size: cover;
                        display: inline-block;
                        filter: grayscale(100%);

                        &:hover {
                            filter: grayscale(0%);
                        }
                    }
                }

                &.twitter-icon {
                    a {
                        background-image: url("./tw-icon.svg");
                    }
                }

                &.facebook-icon {
                    a {
                        background-image: url("./fb-icon.svg");
                    }
                }

                &.instagram-icon {
                    a {
                        background-image: url("./ig-icon.svg");
                    }
                }

                &.linkedin-icon {
                    a {
                        background-image: url("./li-icon.svg");
                    }
                }
            }
        }
    }

    .bottom-footer {
        margin-top: 1rem;
        //padding: 2rem 0;
        //border: 1px solid red;
        font-size: 80%;
        font-weight: 100;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: 50%;

            &:last-of-type {
                text-align: right;
            }
        }
    }

    h4 {
        letter-spacing: -1px;
        font-size: 130%;
    }

    ul {
        list-style: none;
        //font-weight: 100;

        li {
            margin-bottom: 0.5rem;

            a {
                color: #333;
            }

            &.new {
                color: red;

                a {

                    &:after {
                        content: "New";
                        display: inline-block;
                        background: black;
                        font-size: 60%;
                        font-weight: 100;
                        text-transform: uppercase;
                        margin-left: 0.5rem;
                        padding: 0.15rem 0.5rem 0.05rem 0.5rem;
                        color: white;
                    }
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

// Animations
@-webkit-keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes animateright {
    from {
        right: -100px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -100px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@-webkit-keyframes animateleft {
    from {
        left: 106%;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: 0;
        opacity: 0
    }
    to {
        left: 106%;
        opacity: 1
    }
}

@-webkit-keyframes animaterighthome {
    from {
        right: -100px;
        opacity: 0
    }
    to {
        right: 4rem;
        opacity: 1
    }
}

@keyframes animaterighthome {
    from {
        right: -100px;
        opacity: 0
    }
    to {
        right: 4rem;
        opacity: 1
    }
}

// For nav smooth transition
@keyframes pulse {
    0% {
        background-color: #001F3F;
    }
    100% {
        background-color: white;
    }
}
@-webkit-keyframes pulse {
    0% {
        background-color: #001F3F;
    }
    100% {
        background-color: white;
    }
}

// Responsive Styles
@media only screen and (max-width: 992px) {
    nav {
        .button-wrapper {
            display: none;
        }
    }
    .heroBanner {
        .text-wrap {
            width: 60%;
            left: 50%;
        }
    }
    .LearningBeyond {
        padding: 3.5rem 0 0 0;

        .inner-wrapper {
            flex-direction: column-reverse;

            div {
                width: 100% !important;
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 3rem;
                }
            }
        }
        .sub-title {
            margin-bottom: 0.1rem;
        }
    }

    .PricingPage {
        .title-wrapper {
            .inner-wrapper {
                width: 90%;
            }
        }
        .pricing-wrapper {
            .pricing-inner-wrapper {
                width: 90%;
            }
        }
        .coming-soon {
            .inner-wrapper {
                width: 70%;
            }
        }
    }

    .EnterprisePage {
        .EnterpriseBanner {
            .inner-wrapper {
                width: 80%;
            }
            h1 {
                font-size: 2rem;
            }
        }
    }

    .teacherFeature {
        height: 40rem;
        background-size: auto;
        background-position: 10% 100%;

        .inner-wrapper {
            top: 30%;

            .left {
                width: 100%;
            }
            .right {
                width: 0;
            }
        }

        h6 {
            margin-bottom: 1rem;
        }

        .title-subheader {
            font-size: 2rem;
            line-height: 2rem;
        }
    }
}

@media only screen and (max-width: 850px) {
    .PricingPage {
        .pricing-wrapper {
            .pricing-col {
                width: 50%;

                &:last-of-type {
                    width: 50%;
                }

                .full-too {
                    top: 0;
                }
            }
            .pricing-row {
                padding: 2rem 1rem 1rem 1rem;
            }
        }

        .title-wrapper {
            z-index: 3;
        }

        .coming-soon {
            .cs-title {
                color: #333;
            }
        }
    }
}

@media only screen and (max-width: 668px) {
    .dropdown {
        display: none !important; // Hiding the Language Switcher
    }
}

@media only screen and (max-width: 768px) {
    .whoIsUsingUs {

        .inner-wrapper {
            ul {
                flex-wrap: wrap;

                li {
                    width: 40%;
                }
            }
        }
    }

    .LoginPage {
        .signupScreen {
            .inner-wrapper {
                width: 90%;
                flex-direction: column;

                .left-section, .right-section {
                    width: 100%;
                }
            }
        }
    }

    .enterpriseBenefits {
        .benefits-wrapper {
            flex-direction: column;

            &:nth-child(odd) {
                flex-direction: column-reverse;
            }
        }

        div {
            min-height: 10rem !important;
            padding: 0 !important;
            width: 95% !important;
        }
    }

    footer {
        .inner-wrapper {

            .footer-col {
                width: 50% !important;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .teacherFeature {
        h6 {
            line-height: 1rem;

            span {
                display: block;
            }
        }
    }
}

// All Mobile
@media only screen and (max-width: 414px) {

    .heroBanner {
        .text-wrap {
            width: 90%;
            left: 50%;
            background: rgba(white, 0.8);
            padding: 1rem;
        }
    }

    .whoIsUsingUs {

        .inner-wrapper {
            ul {

                li {
                    width: 100%;
                }
            }
        }
    }

    .LearningBeyond {
        .inner-wrapper {
            flex-direction: column-reverse;

            div {
                &:first-of-type {
                    width: 100%;

                    div {
                        width: 100%;
                    }
                }

                &:last-of-type {
                    width: 100%;
                }
            }
        }
    }

    .globalReach {
        min-height: 52rem;

        .inner-wrapper {

            .screenBack {
                bottom: -30rem;

                .title-wrapper {
                    width: 100%;
                }
            }
        }
    }

    footer {
        .inner-wrapper {

            .footer-col {
                width: 100% !important;

                &:last-of-type {
                    margin-bottom: 2rem;
                }
            }
        }

        .bottom-footer {
            flex-direction: column;

            div {
                width: 100%;

                &:last-of-type {
                    text-align: left;
                }
            }
        }
    }
}

// Don't show on large(r) screens
@media only screen and (min-width: 992px) {
    .cookie {
        display: none;
    }
}  